*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: transparent;
    
}

.imagem_fundo {
    background-image: url('Fundo.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 0;
}

.botao_menu{
    color: #151515;
    font-family: "Poppins", sans-serif;
    padding: 9px 37px 9px 37px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none;
    transition: .25s;
}
.botao_menu:hover{
    color: #034ea2;
    text-decoration: underline;
}

.botao_jogo{
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    padding: 9px 37px 9px 37px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none;
    transition: .25s;
    background-color: #034ea2;
    border-radius: 20px;
}
.botao_jogo:hover{
    background-color: #000000;
}

#canvas{
    display: none;
    position: absolute;
    margin-top: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 3px white;
}
#teste{
    display: block;
    position: absolute;
    width: 1024px;
    height: 576px;   
    margin-top: 30px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}

#teste img{
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}

#botao_jogar{
    position: absolute;
    top: 58%;
    left: 41%;
}

#fim_do_jogo{
    display: block;
    position: absolute;
    width: 1024px;
    height: 576px;   
    margin-top: 30px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

#fim_do_jogo img{
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}