body{
    background-color: #e3e3e3;
    background-image: url('/assets/cadeirante.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}

.menu {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 0;
}